<h1 class="title">{{site.about_me_title}}</h1>
<p align="center" class="description" data-aos="fade-down"> <iframe src="https://drive.google.com/file/d/19H0yL151PSfH9bynhiFeEu3FTVEgXwNy/preview" width="280" height="160"></iframe> </p>

<p class="description" data-aos="fade-down"> 🖖  Hello, My name is Bilgehan from Turkey </p>
<p class="description" data-aos="fade-down"> 👨‍💻 I am a DevOps Engineer working for <a href="https://www.gittigidiyor.com/">eBay Turkey (GittiGidiyor)</a>. </p>
<p class="description" data-aos="fade-down"> 📱 I am a part time backend developer in our <a href="https://quickestlab.com/">small team</a> which is developing mobile apps.</p>
<p class="description" data-aos="fade-down"> 🖥️ I love reading, writting, learning about computer science and technologies.</p>
<p class="description" data-aos="fade-down"> 🤯 I dedicated myself to hack my life with my computer skills </p>
<p class="description" data-aos="fade-down"> ⚡ I am interested in electronic as a hobby </p>
<p class="description" data-aos="fade-down"> 🏀 I am passionate about NBA and Formula1 (Especially, backstage story of these sports). </p>
<p class="description" data-aos="fade-down"> 👨‍🍳 I am only beginner chef in my own kitchen. </p>
<p class="description" data-aos="fade-down"> 💹 I am an economy enthusiast and junior technical analyst. </p>

